.tags {
  font-size: 0.8rem;
  font-style: italic;
  color: #1e8449;
  background: #f2ffe8;
  box-shadow: 0px 0px 10px 1.5px #1e8449;
  border-radius: 10px;
  margin-right: 8px;
  padding: 3px 8px;
}
