* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b341d;
  display: flex;
  justify-content: center;
}

header {
  background-color: #27ae60;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 10px 0;
  width: 100%;
}

main {
  margin-top: 50px;
}

.question-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #7dcea0;
  margin-top: 30px;
  border-radius: 8px;
  max-width: 350px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: #e5e4e2;
  color: #292e32;
  border-radius: 5px;
  padding: 8px;
  max-width: 100%;
}

.tag-box {
  margin: 4px;
}

.tags {
  font-size: 15px;
  margin-right: 10px;
}

.bookmarks {
  width: 35px;
}

.icons {
  width: 35px;
}
