* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #0b341d;
  display: flex;
  justify-content: center;
}

header {
  background-color: #27ae60;
  box-shadow: 0px 10px 30px -3px #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 50px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.3rem;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
  margin: 0 30px;
}

button {
  justify-content: center;
  align-self: center;
  font-size: 0.9rem;
  color: #fff;
  background: #1e8449;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 10px -0.2px #1e8449;
  cursor: pointer;
  margin-top: 30px;
  padding: 8px;
  width: 125px;
  height: 35px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: #56a979;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
  max-width: 100%;
}

.question-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #7dcea0;
  margin-top: 30px;
  border-radius: 8px;
  max-width: 350px;
}

.bookmarks {
  position: relative;
  left: 310px;
  top: -5px;
}

.answer {
  visibility: hidden;
  align-self: center;
  margin: 0px;
}

.tag-box {
  margin: 4px;
}

.tags {
  font-size: 15px;
  margin-right: 10px;
}

.bookmarks {
  width: 35px;
}

.icons {
  width: 35px;
}
