.card__question {
  font-size: 1.3rem;
  font-weight: 700;
  color: #f2ffe8;
  background: #2a5238;
  box-shadow: 0px 0px 20px -0.2px #2a5238;
  border-radius: 8px;
  margin: 5px 20px 5px 20px;
  padding: 40px;
}

.card__button-answer {
  font-size: 0.9rem;
  text-transform: lowercase;
  color: #f2ffe8;
  background: #2a5238;
  animation: pulse 2s infinite;
  box-shadow: 0px 0px 10px -0.5px #2a5238;
  border-style: none;
  border-radius: 8px;
  margin-top: 30px;
  padding: 8px;
  width: 125px;
  height: 35px;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

@keyframes pulse {
  15% {
    color: #2a5238;
  }
}

.card__answer {
  /* visibility: hidden; */
  align-self: center;
  margin: 10px 0px;
}

.card__tag-list {
  display: flex;
  justify-content: flex-start;
}

.card__tag-list-item {
  font-size: 0.8rem;
  font-style: italic;
  color: #1e8449;
  background: #f2ffe8;
  box-shadow: 0px 0px 10px 1.5px #1e8449;
  border-radius: 10px;
  margin-right: 8px;
  padding: 3px 8px;
}

.card__background {
  background: var(--card-background);
  border-radius: 15px;
  margin-top: 30px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}
