.answer-button {
  font-size: 0.9rem;
  text-transform: lowercase;
  color: #f2ffe8;
  background: #2a5238;
  animation: pulse 2s infinite;
  box-shadow: 0px 0px 10px -0.5px #2a5238;
  border-style: none;
  border-radius: 8px;
  margin-top: 30px;
  padding: 8px;
  width: 125px;
  height: 35px;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

@keyframes pulse {
  15% {
    color: #2a5238;
  }
}
